*{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    background-image: url(/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    background-color: #0b0e14;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 10;
}

header .logo {
    text-decoration: none;
    color: #D6B982;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

header .logo-main {
    font-family: "Cormorant Garamond", serif;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 6px;
}

.logo-sub {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 7px;
    margin-top: 6px;
}

header .navbar{
    display: flex;
    gap: 50px;

}

header .navbar a{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}

header .navbar a:hover{
    border-bottom: 2px solid #bb925c;
}

header .btn{
    display: flex;
    gap: 25px;
    align-items: center;
}

header .btn a{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .btn a:hover{
    color: #c5a06a;
}

header .btn #touch{
    border: 1px solid #bb925c;
    border-radius: 3px;
    padding: 13px 29px;
}

main{
    padding-top: 90px;
    padding-left: 50px;
    width: 40%;
    height: 400px;
}

main h3{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #c5a06a;
    padding-top: 20px;
}

main h1{
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    font-weight: 500;
    color: white;
}

main p{
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    max-width: 350px;
    margin-bottom: 55px;

}

main a{
    background-color: #c5a06a;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
    color: #17191A;
}